
.button-add-employee {
    display: flex;
    /* margin-left: 30px; */
    height: 42px;
    width: 130px;
    background-color: #1ab741;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
    /* border: 2px solid 1ab741;
    border-radius: 5px; */
}

.button-add-employee h5{
    margin-left: 2px;
    width: 75px;
    font-size: 15px !important;
}

.button-add-employee img{
    padding-top: 4px;
}

button {
    /* padding: 5px 10px; */
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
    border: 0px solid #1ab741;
    border-radius: 5px;
}

/* button:hover {
    background-color: #007961;
} */
.button-add-employee:hover {
    background-color: #007961;
}